{% load static %}
<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha2/css/bootstrap.min.css"
        integrity="sha384-DhY6onE6f3zzKbjUPRc2hOzGAdEf4/Dz+WJwBvEYL/lkkIsI3ihufq9hk9K4lVoK" crossorigin="anonymous">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
        integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />

    <title>Whatsapp Web</title>
    <link rel="stylesheet" href="{% static '/users/css/style.css' %}">
</head>

<body>

    <div class="navbar bg-success nav-div container-fluid mt-0 ">
        <div class="navbar-brand nav-inner-div ml-5 bg-success mt-2 align-items-center">
            <div class=" row bg-success" style="margin-left:150px;">
                <div class="col-sm-6 bg-success mr-0 text-right">
                    <i
                        class="fab bg-success text-white text-right mt-5 mr-0 fa-whatsapp fa-2x d-inline text-center "></i>
                </div>
                <div class="col-sm-6 p-0  bg-success mt-1 ml-0 text-left">
                    <h5 class="text-white text-left ml-0 d-inline bg-success">Whatsapp Web</h5>
                </div>
            </div>
        </div>
    </div>
    
    <div class="container main-div rounded shadow">
        {% block home %}
        {% endblock home%}
        {% block searchnot %}
        <div class="container main-inner-div align-items-center justify-content-center d-flex my-auto">
            
            <div class="row mb-5 mt-5">
                <div class="col-sm-12 mb-5 text-center">
                    {% block verify_phone %}
                    {% endblock verify_phone%}

                    {% block addfriend %}
                    {% endblock addfriend %}
                </div>
            </div>
        </div>
        {% endblock searchnot %}
    </div>
    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0"
        crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    
    <!-- <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.6.0/dist/umd/popper.min.js" integrity="sha384-KsvD1yqQ1/1+IA7gi3P0tyJcT3vR+NdBTt13hSJ2lnve8agRGXTTyNaBYmCR/Nwi" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.min.js" integrity="sha384-nsg8ua9HAw1y0W1btsyWgBklPnCUAFLuTMS2G72MMONqmOymq585AcH49TLBQObG" crossorigin="anonymous"></script> -->
   
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
        integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
        crossorigin="anonymous"></script>

    <!-- <script> -->
    <!-- // console.log('hello');
    // document.getElementById('resend').onclick = function(event){
    // event.preventDefault();
    // document.getElementById('form2').style.display = "block";
    // document.getElementById('form1').style.display = "none";
    // }
    // $("resend").onclick = function(event){
    //   event.preventDefault();
      // document.getElementById('resend').style.backgroundColor = "black";
    //   // document.getElementById('form2').style.display = "block";
    //   //     document.getElementById('form1').style.display = "none";


    // };
//     $(document).ready(function(){
//   $("#resend").click(function(){
    
//     $("#resend").hide();
//   });
// }); -->
    <!-- //   </script> -->

    <!-- <script>
  $(document).on('submit', '#in_otp',function(e){
    e.preventDefault()
    $.ajax({
        type:'POST',
        url:'{% url "verify_phone" %}',
        data:{
            title:$('#input1').val(),
            csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val(),
            action : 'post',
          },
        //   success:function(json){
        //   document.getElementById("form1").style.display = "none";
        //   console.log('success');
        //   document.getElementById('form2').style.display = "block";
        // },
    });
});
</script> -->

<script>
$('#myform').on('submit',function(e){
    e.preventDefault();
    $.ajax({
        type : "POST",
        url : "{% url 'verify_phone' %}",
        data:{
        phone:$('#input_phone').val(),
        csrfmiddlewaretoken: '{{csrf_token}}',
        dataType: "json"
        },
        success:function(data, status){
            console.log(status)
            console.log(data.msg);
            console.log(data.status);
            console.log(typeof(data.status));
            var output = data.msg;
            console.log(output);
            // var status = data.status;
            if (data.status != "200"){
                $('#error_msg').text(output);
                $('#error_msg').addClass('alert-danger');
            }
            else{
                console.log('this 200');
                $('#error_msg').removeClass('alert-danger');
                $('#error_msg').addClass('alert-info');
                $('#error_msg').text(output);
                $('#myform').hide();
                $('#hidden_div').removeAttr("style");
            }

        }
    });

});

$('#resend_otp').on('click', function(e){
    e.preventDefault();
    $.ajax({
        type : 'GET',
        url : "{% url 'resend_otp' %}",
        success:function(data){
            console.log('hello',data.msg)
            if (data.msg){
                $('#error_msg').text(data.msg);
                $('#error_msg').addClass('text-success');
                $("#resend_otp").hide();
                $(function(){
                    let start = 59;
                    let end = 0;
                    let speed = 1000;
                    setInterval(function(){
                        if (end<start){
                            start--;
                        }
                        if (start<10)
                        {
                            $('#resend_time').html("0:0"+start);

                        }
                        else{
                            $('#resend_time').html("0:"+start);
                        }
                        if (start ==0){
                            $("#resend_otp").show();
                            $('#resend_time').hide();
                        }
                    }, speed);
                });
            }
            else{
                $('#resend_msg').hide();
                
            }
        }
    });
});
</script>
<script>
    $('#form2').on('submit', function(e){
        e.preventDefault();
        $.ajax({
            type: 'POST',
            url : "{% url 'verify_otp' %}",
            data:{
                otp: $('#inputotp').val(),
                csrfmiddlewaretoken : "{{csrf_token}}",
                dataType : "json"
            },
            success:function(data){
                if(data.status != "200"){
                    $('#error_msg').text(data.msg);
                    $('#error_msg').removeClass('alert-info');
                    $('#error_msg').addClass('alert-danger');;
            }
            else{
                window.location = '/home';
            }
            }
        })
    });
</script>

<script>

    const socket = new WebSocket('ws://'+window.location.host+'{{path}}');
    socket.onopen = function(e){
        console.log('connected');
    };
    

    document.getElementById('send-msg').onkeyup = function(e){
        e.preventDefault();
        if (e.keyCode === 13) {  // enter, return
            msg = document.getElementById('send-msg').value;
            console.log(msg);
            document.getElementById('send-msg').value = '';
            socket.send(JSON.stringify({'msg': msg}));

            }
    }

    socket.onmessage = function(e){

        console.log(e.data);
        rec_msg = JSON.parse(e.data);
        if(rec_msg.single_data!=undefined){
        single_user_data = JSON.parse(rec_msg.single_data);
        single_user_data = single_user_data['single'];
        console.log(single_user_data, 'fasjfdsdfasdfjaosdjf;jasdjfoisd');
        single_user_data = JSON.parse(single_user_data);
        console.log(single_user_data[0]['pk']);
        console.log(single_user_data[0]['fields']['picture']);
        document.getElementById('second-user-img').src = '/media/'+single_user_data[0]['fields']['picture'];
        document.getElementById('second-user-name').innerHTML = single_user_data[0]['fields']['full_name'];

        
    }
        console.log(rec_msg,'this is user detail');

        // console.log(rec_msg.message);
        // console.log(rec_msg.msg);
        reply1 = rec_msg.msg;
        JSON.parse(reply1);
        console.log(reply1,'++++++++++++++++++++++++++++++++++++++++++++');
        reply =  JSON.parse(reply1);
        console.log(reply);
        // rr = reply['db'];
        block1 = " ";
        // Object.keys(reply).forEach(function(items){
        //     content =+  chat_users(items[0]['picture'], items['db']['phone']);
        // })
        console.log(reply['db']);
        rr = JSON.parse(reply['db']);
        console.log(rr[0]['fields']);
        for(i in rr){
            block1 += chat_users(rr[i]['pk'],rr[i]['fields']['picture'], rr[i]['fields']['phone']);
            console.log(block1,'inside forloop');
            console.log(rr[i]['pk'], rr[i]['fields']['picture'], rr[i]['fields']['phone']);
        }
        document.getElementById('testid').innerHTML = block1;
        
        // show chat messages...........................................................................
        sender_chat_msg = " ";

        chat_msgs = rec_msg.message;
        if (chat_msgs!= undefined){
        sender_chat_msg += sender_chats_fun(chat_msgs);
    }
    document.getElementById('sender-chats').innerHTML += sender_chat_msg ;
        

    }
    function chat_users(id,profile_pic, phone){

        let block1 = '<div class="card user-card border-none mb-0 mx-0 pb-0"  style="max-width: 510px; max-height: 72px;"><div class="row g-0"><div class="col-md-2 p-1 mx-0 d-flex align-items-center"><img class="ml-1 user-img  border-3" src="/media/'+profile_pic+'" alt="hello"></div><div class="col-md-10 pt-1">'
            +'<a class="text-decoration-none" href='+window.location+''+id+'><div class="card-body mt-0 p-2 "><h6 class="user text-dark card-title mt-1 ml-2">'+phone+'</h6>'
                        +'<p class="card-text text-right"><small class="text-muted">7:30 PM</small></p></div></a></div></div></div>';
        return block1

    };

    function sender_chats_fun(msg){

        let sender_chat_msg = '<div class="col-sm-12 mt-2 bg-none "><div class="card send-msg border-0 rounded text-right"><div class="card-body py-0 msg-box-inner pr-1"><p class="card-text text-left pr-2 pt-1 mb-0">'+msg+'</p>'
            +'<a class="text-secondary text-decoration-none pt-0" style="font-size: small;">14:56 PM</a> </div></div></div>'
    return sender_chat_msg
    };
</script>

</body>

</html>