{% extends 'base.html' %}
{% load static %}
{% block verify_phone %}
{% endblock verify_phone%}
{% block searchnot %}
{% endblock searchnot %}
{% block home %}

<div class="row">
    <div class="col-sm-4 d-inline side_scroller border  px-0 ">
        <div class="card mb-0 mx-0 sticky-top p-0 mb-2 shadow-sm ">
            <div class="row g-0 p-0">
                <div class="col-md-11 my-1 p-0 bg-warning">
                    <input width="100" style="font-size: larger;" class="text-center d-inline p-2 input-group  " type="text"
                        placeholder="Search your contacts here ">
                </div>
                <div class="col-md-1 mt-3 p-0 ">
                    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor"
                        class="d-inline bi bi-search" viewBox="0 0 16 16">
                        <path
                            d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
                    </svg>
                </div>
            </div>
        </div>
        <div class="card mb-0 mx-0 shadow" style="max-width: 540px; max-height: 80px;">
            <div class="row g-0">
                <div class="col-md-2 p-1 mx-0">
                    <img class="img-fluid rounded-circle border border-3 border-warning p-1"
                        src="{% static 'users/images/wlogo.png' %}" alt="hello" height="45px" width="60px">
                </div>
                <div class="col-md-10">
                    <div class="card-body mt-0 p-2 ">
                        <h6 class="card-title mt-0">Card title</h6>
                        <!-- <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                            additional content. This content is a little bit longer.</p> -->
                        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="card mb-0 mx-0 shadow" style="max-width: 540px; max-height: 80px;">
            <div class="row g-0">
                <div class="col-md-2 p-1 mx-0">
                    <img class="img-fluid rounded-circle border border-3 border-warning p-1"
                        src="{% static 'users/images/wlogo.png' %}" alt="hello" height="45px" width="60px">
                </div>
                <div class="col-md-10">
                    <div class="card-body mt-0 p-2 ">
                        <h6 class="card-title mt-0">Card title</h6>
                        <!-- <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                            additional content. This content is a little bit longer.</p> -->
                        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="card mb-0 mx-0 shadow" style="max-width: 540px; max-height: 80px;">
            <div class="row g-0">
                <div class="col-md-2 p-1 mx-0 ">
                    <img class="img-fluid shadow rounded-circle border border-3 border-warning p-1"
                        src="{% static 'users/images/wlogo.png' %}" alt="hello" height="45px" width="60px">
                </div>
                <div class="col-md-10">
                    <div class="card-body mt-0 p-2 ">
                        <h6 class="card-title mt-0">Card title</h6>
                        <!-- <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                            additional content. This content is a little bit longer.</p> -->
                        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="card mb-0 mx-0" style="max-width: 540px; max-height: 80px;">
            <div class="row g-0">
                <div class="col-md-2 p-1 mx-0">
                    <img class="img-fluid rounded-circle border border-3 border-warning p-1"
                        src="{% static 'users/images/wlogo.png' %}" alt="hello" height="45px" width="60px">
                </div>
                <div class="col-md-10">
                    <div class="card-body mt-0 p-2 ">
                        <h6 class="card-title mt-0">Card title</h6>
                        <!-- <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                            additional content. This content is a little bit longer.</p> -->
                        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="card mb-0 mx-0" style="max-width: 540px; max-height: 80px;">
            <div class="row g-0">
                <div class="col-md-2 p-1 mx-0">
                    <img class="img-fluid rounded-circle border border-3 border-warning p-1"
                        src="{% static 'users/images/wlogo.png' %}" alt="hello" height="45px" width="60px">
                </div>
                <div class="col-md-10">
                    <div class="card-body mt-0 p-2 ">
                        <h6 class="card-title mt-0">Card title</h6>
                        <!-- <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                            additional content. This content is a little bit longer.</p> -->
                        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="card mb-0 mx-0" style="max-width: 540px; max-height: 80px;">
            <div class="row g-0">
                <div class="col-md-2 p-1 mx-0">
                    <img class="img-fluid rounded-circle border border-3 border-warning p-1"
                        src="{% static 'users/images/wlogo.png' %}" alt="hello" height="45px" width="60px">
                </div>
                <div class="col-md-10">
                    <div class="card-body mt-0 p-2 ">
                        <h6 class="card-title mt-0">Card title</h6>
                        <!-- <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                            additional content. This content is a little bit longer.</p> -->
                        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="card mb-0 mx-0" style="max-width: 540px; max-height: 80px;">
            <div class="row g-0">
                <div class="col-md-2 p-1 mx-0">
                    <img class="img-fluid rounded-circle border border-3 border-warning p-1"
                        src="{% static 'users/images/wlogo.png' %}" alt="hello" height="45px" width="60px">
                </div>
                <div class="col-md-10">
                    <div class="card-body mt-0 p-2 ">
                        <h6 class="card-title mt-0">Card title</h6>
                        <!-- <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                            additional content. This content is a little bit longer.</p> -->
                        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="card mb-0 mx-0" style="max-width: 540px; max-height: 80px;">
            <div class="row g-0">
                <div class="col-md-2 p-1 mx-0">
                    <img class="img-fluid rounded-circle border border-3 border-warning p-1"
                        src="{% static 'users/images/wlogo.png' %}" alt="hello" height="45px" width="60px">
                </div>
                <div class="col-md-10">
                    <div class="card-body mt-0 p-2 ">
                        <h6 class="card-title mt-0">Card title</h6>
                        <!-- <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                            additional content. This content is a little bit longer.</p> -->
                        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="card mb-0 mx-0" style="max-width: 540px; max-height: 80px;">
            <div class="row g-0">
                <div class="col-md-2 p-1 mx-0">
                    <img class="img-fluid rounded-circle border border-3 border-warning p-1"
                        src="{% static 'users/images/wlogo.png' %}" alt="hello" height="45px" width="60px">
                </div>
                <div class="col-md-10">
                    <div class="card-body mt-0 p-2 ">
                        <h6 class="card-title mt-0">Card title</h6>
                        <!-- <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                            additional content. This content is a little bit longer.</p> -->
                        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="card mb-0 mx-0" style="max-width: 540px; max-height: 80px;">
            <div class="row g-0">
                <div class="col-md-2 p-1 mx-0">
                    <img class="img-fluid rounded-circle border border-3 border-warning p-1"
                        src="{% static 'users/images/wlogo.png' %}" alt="hello" height="45px" width="60px">
                </div>
                <div class="col-md-10">
                    <div class="card-body mt-0 p-2 ">
                        <h6 class="card-title mt-0">Card title</h6>
                        <!-- <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                            additional content. This content is a little bit longer.</p> -->
                        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="card mb-0 mx-0" style="max-width: 540px; max-height: 80px;">
            <div class="row g-0">
                <div class="col-md-2 p-1 mx-0">
                    <img class="img-fluid rounded-circle border border-3 border-warning p-1"
                        src="{% static 'users/images/wlogo.png' %}" alt="hello" height="45px" width="60px">
                </div>
                <div class="col-md-10">
                    <div class="card-body mt-0 p-2 ">
                        <h6 class="card-title mt-0">Card title</h6>
                        <!-- <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                            additional content. This content is a little bit longer.</p> -->
                        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                    </div>
                </div>
            </div>
        </div>
    </div>  
    <div class="col-sm-9 d-inline chat-area text-left border mx-0 px-0">
        hii
    </div>
</div>
{% endblock home %}