{% load static %}
<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha2/css/bootstrap.min.css"
    integrity="sha384-DhY6onE6f3zzKbjUPRc2hOzGAdEf4/Dz+WJwBvEYL/lkkIsI3ihufq9hk9K4lVoK" crossorigin="anonymous">
  <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
    integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />

  <title>Whatsapp Web</title>
  <link rel="stylesheet" href="{% static '/users/css/style.css' %}">
</head>

<body>
  <div class="navbar bg-success nav-div container-fluid mt-0 ">
    <div class="navbar-brand nav-inner-div ml-5 bg-success mt-2 align-items-center">
      <div class=" row bg-success" style="margin-left:150px;">
        <div class="col-sm-6 bg-success mr-0 text-right">
          <i class="fab bg-success text-white text-right mt-5 mr-0 fa-whatsapp fa-2x d-inline text-center "></i>
        </div>
        <div class="col-sm-6 p-0  bg-success mt-1 ml-0 text-left">
          <h5 class="text-white text-left ml-0 d-inline bg-success">Whatsapp Web</h5>
        </div>
      </div>
    </div>
  </div>
  <div class="container main-div rounded shadow">
    <div class="container main-inner-div align-items-center justify-content-center d-flex my-auto">
      <div class="row mb-5 mt-5">
        <div class="col-sm-12 mb-5 text-center">
          <form method="POST" id="form1" action="{% url 'verify_phone' %}">
            {% csrf_token %}
            <!-- <h1 class="text-center mb-5 font-weight-bolder p-2">Enter Valid Phone Number Here </h1> -->
            <input id="input1"
              style="width: 50px; height: 60px; outline: none; font-size: xx-large; border-bottom: 2px solid black;"
              class="font-weight-bold  w-100 text-center" type="tel" name="phone" placeholder="Verify your number">
            <input id="in_otp" class="btn btn-success mt-5 " type="submit" value="Send OTP">
          </form>
          <form method="POST" id="form2" action="{% url 'verify_otp' %}" style="display: none;">
            {% csrf_token %}

            <input id="inputotp"
              style="width: 50px; height: 60px; outline: none; font-size: xx-large; border-bottom: 2px solid black;"
              class="font-weight-bold  w-100 text-center" type="number" name="otp" placeholder="Verify your OTP">
            <input id="veriotp" class="btn btn-success mt-5" type="submit" value="Verify OTP">
          </form>
        </div>
        <div class="col-sm-12 mb-5 text-center">
          <p>Didn't get OTP ? <span class="text-primary">Resend</span></p>
        </div>
      </div>
    </div>
  </div>

  <!-- Optional JavaScript; choose one of the two! -->

  <!-- Option 1: Bootstrap Bundle with Popper -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0"
    crossorigin="anonymous"></script>

  <!-- Option 2: Separate Popper and Bootstrap JS -->
  <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.6.0/dist/umd/popper.min.js" integrity="sha384-KsvD1yqQ1/1+IA7gi3P0tyJcT3vR+NdBTt13hSJ2lnve8agRGXTTyNaBYmCR/Nwi" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.min.js" integrity="sha384-nsg8ua9HAw1y0W1btsyWgBklPnCUAFLuTMS2G72MMONqmOymq585AcH49TLBQObG" crossorigin="anonymous"></script>
    -->
  <script>
    console.log('hello');
    document.getElementById('in_otp').onclick = function(event){
      event.preventDefault();
      document.getElementById('form2').style.display = "block";
      document.getElementById('form1').style.display = "none";
    }
  </script>
</body>

</html>