{% extends 'base.html'%}
{% block verify_phone %}
{% if messages %}
{% for message in messages %}
<div class="alert alert-warning" role="alert">
  {{message}}
</div>
{% endfor %}
{% endif %}

<form method="POST" id="form1">
  {% csrf_token %}
  <!-- <h1 class="text-center mb-5 font-weight-bolder p-2">Enter Valid Phone Number Here </h1> -->
  <input id="input1"
    style="width: 50px; height: 60px; outline: none; font-size: xx-large; border-bottom: 2px solid black;"
    class="font-weight-bold  w-100 text-center" type="tel" name="phone" placeholder="Verify your number">
  <input id="in_otp" class="btn btn-success mt-5 " type="submit" value="Send OTP">
</form>
{% endblock verify_phone%}