{% extends 'base.html'%}
{% block addfriend %}

<div id="error_msg" class="alert alert-info" role="alert">Search by entering contact number</div>
  
<form method="POST" id="friendform" action="{% url 'addfriend' %}">
  {% csrf_token %}
  <!-- <h1 class="text-center mb-5 font-weight-bolder p-2">Enter Valid Phone Number Here </h1> -->
  <input id="input_phone"
    style="width: 50px; height: 60px; outline: none; font-size: xx-large; border-bottom: 2px solid black;"
    class="font-weight-bold  w-100 text-center" type="tel" name="phone" placeholder="friend's number">
  <input id="add_friend" class="btn btn-success mt-5 " type="submit" value="Add">
</form>

{% if invite %}
<div class="justify-content-center d-flex">
  <h5 class="card-title">{{invite}}</h5>
  </div>
{% endif %}

{% for i in friend %}
<form method="POST" action="{% url 'connectfriend' %}">
  {% csrf_token %}
<div class="justify-content-center d-flex mt-5">
  <div class="card mb-3 border-0" style="min-width: 300px; height:78px;">
    <div class="row g-0 justify-content-left d-flex mb-1 bg-white ">
      <div class="col-md-4 text-center mt-2">
        <img src="{{i.picture.url}}"  alt="friend's img" width="72px" height="68px" style="border-radius:50%;">
      </div>
      <div class="col-md-8">
        <div class="card-body text-success justify-content-start d-block">
          <h5 class="card-title text-left">{{i.phone}}
          </h5>
          <p class="card-text text-left">{{request.user.phone}}</p>
        </div>
      </div>
    </div>

    <!-- <input class="btn btn-outline-success" value="Connect"> -->
    <button class="btn btn-outline-success" type="submit" name="friend_id" value="{{i.id}}">Connect</button>
  </div>
</div>
{% endfor %}
<!-- <div id="hidden_div" style="display: none;"> -->
<!-- <form method="POST" id="form2">
    {% csrf_token %}
    <input id="inputotp"
        style="width: 50px; height: 60px; outline: none; font-size: xx-large; border-bottom: 2px solid black;"
        class="font-weight-bold  w-100 text-center" type="number" name="otp" placeholder="Verify your OTP" step="0.01">
    <input id="veriotp" class="btn btn-success mt-5" type="submit" value="Verify OTP">
</form>
<div class="col-sm-12 mb-5 mt-5 text-center">
    <p >Didn't get OTP ? <a id="resend_otp" href="{% url 'resend_otp' %}" class="text-center text-decoration-none">Resend</a><p id="resend_time" class="text-primary"></p></p>
</div> -->
<!-- </div> -->
{% endblock addfriend %}