<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha2/css/bootstrap.min.css"
    integrity="sha384-DhY6onE6f3zzKbjUPRc2hOzGAdEf4/Dz+WJwBvEYL/lkkIsI3ihufq9hk9K4lVoK" crossorigin="anonymous">

  <!-- Custom CSS -->
  <link rel="stylesheet" href="/static/core/css/style.css">

  <title>WhatsApp Web</title>
</head>

<body>
  <div class="back-container">
    <div class="container-fluid front-container">
      <div class="back-top"></div>
      <div class="back-main"></div>
    </div>
    <div class="container front-container1">
      <div class="row chat-top">
        <div class="col-sm-4 border-right border-secondary">
          <img src="/static/images/p3.jpg" alt="" class="profile-image rounded-circle">
          <span class="float-right mt-2">
            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-circle" fill="currentColor"
              xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
            </svg>
            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-chat-left-fill mx-3" fill="currentColor"
              xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd"
                d="M2 0a2 2 0 0 0-2 2v12.793a.5.5 0 0 0 .854.353l2.853-2.853A1 1 0 0 1 4.414 12H14a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z" />
            </svg>
            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-three-dots-vertical mr-2" fill="currentColor"
              xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd"
                d="M9.5 13a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0z" />
            </svg>
          </span>
        </div>
        <div class="col-sm-8">
          <div class="row">
            <div class="col-sm-1 text-right">
              <img src="/static/images/p2.jpg "  alt="" class="profile-image rounded-circle">
            </div>
            <div class="col-sm-7 mt-1">
              <div class="row">
                <span class="ml-2  text-left font-weight-bold">Rahul Kumar</span>
                <span class="ml-2 text-success font-weight-bold">● Online</span>
              </div>
            </div>
            <div class="col-sm-4 ">
              <span class="float-right mt-2">
                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-search" fill="currentColor"
                  xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd"
                    d="M10.442 10.442a1 1 0 0 1 1.415 0l3.85 3.85a1 1 0 0 1-1.414 1.415l-3.85-3.85a1 1 0 0 1 0-1.415z" />
                  <path fill-rule="evenodd"
                    d="M6.5 12a5.5 5.5 0 1 0 0-11 5.5 5.5 0 0 0 0 11zM13 6.5a6.5 6.5 0 1 1-13 0 6.5 6.5 0 0 1 13 0z" />
                </svg>
                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-three-dots-vertical mx-3"
                  fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd"
                    d="M9.5 13a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0z" />
                </svg>
              </span>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-4 contacts">
          <div class="contact-table-scroll">
            <table class="table table-hover">
              <tbody>
                <tr>
                  <td><img src="/static/images/p2.jpg" alt="" class="profile-image rounded-circle"></td>
                  <td>Rahul Kumar <br> <small>achi chal rahi</small></td>
                  <td><small>11:55 PM</small></td>
                </tr>
                <!-- end -->
              </tbody>
            </table>
          </div>
        </div>
        <div class="col-sm-8 message-area ">
          <div class="message-table-scroll">
            <table class="table">
              <tbody>
                <tr>
                  <td class="text-left " style="padding-right: 300px;">
                    <p class="bg-white p-2 mt-2 mr-5 shadow-sm text-dark float-left rounded">Hello Hello Rahul Hello Rahul Hello Rahul Hello Rahul Hello Rahul Hello Rahul Hello Rahul Hello Rahul Hello Rahul Hello Rahul Hello Rahul Hello Rahul Hello Rahul Hello Rahul Hello Rahul Hello Rahul Hello Rahul Hello Rahul Hello Rahul Hello Rahul Hello Rahul </p>
                    <p class="p-1 mt-1 text-left"><small>11:20 PM</small></p>
                  </td>
                </tr>
                <tr>
                  <td class="text-left " style="padding-left: 300px;">
                    <p class=" p-2 shadow text-white rounded ml-5" style="background-color:rgba(189, 226, 135);">Hello Hello Rahul Hello Rahul Hello Rahul Hello Rahul Hello Rahul Hello Rahul Hello Rahul Hello Rahul Hello Rahul Hello Rahul Hello Rahul Hello Rahul Hello Rahul Hello Rahul Hello Rahul Hello Rahul Hello Rahul Hello Rahul Hello Rahul Hello Rahul </p>
                    <p class="p-1 mt-1 text-right"><small>11:21 PM</small></p>
                  </td>
                </tr>
                <tr>
                  <td class="text-left " style="padding-left: 300px;">
                    <p class="p-2 shadow text-white rounded ml-5" style="background-color: rgba(189, 226, 135);"> Rahul Hello Rahul Hello Rahul Hello Rahul Hello Rahul Hello Rahul Hello Rahul Hello Rahul Hello Rahul Hello Rahul Hello Rahul Hello Rahul Hello Rahul Hello Rahul Hello Rahul Hello Rahul </p>
                    <p class="p-1 mt-1 text-right"><small>11:21 PM</small></p>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="row message-box p-2">
            <div class="col-sm-2 mt-2">
              <svg class="mr-0" width="3.1em" height="1.3em" viewBox="0 0 16 16" class="bi bi-emoji-smile"
                fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                <path fill-rule="evenodd"
                  d="M4.285 9.567a.5.5 0 0 1 .683.183A3.498 3.498 0 0 0 8 11.5a3.498 3.498 0 0 0 3.032-1.75.5.5 0 1 1 .866.5A4.498 4.498 0 0 1 8 12.5a4.498 4.498 0 0 1-3.898-2.25.5.5 0 0 1 .183-.683z" />
                <path
                  d="M7 6.5C7 7.328 6.552 8 6 8s-1-.672-1-1.5S5.448 5 6 5s1 .672 1 1.5zm4 0c0 .828-.448 1.5-1 1.5s-1-.672-1-1.5S9.448 5 10 5s1 .672 1 1.5z" />
              </svg>
              <svg class="ml-0" width="2.8em" height="1.3em" viewBox="0 0 16 16" class="bi bi-paperclip mx-2"
                fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd"
                  d="M4.5 3a2.5 2.5 0 0 1 5 0v9a1.5 1.5 0 0 1-3 0V5a.5.5 0 0 1 1 0v7a.5.5 0 0 0 1 0V3a1.5 1.5 0 1 0-3 0v9a2.5 2.5 0 0 0 5 0V5a.5.5 0 0 1 1 0v7a3.5 3.5 0 1 1-7 0V3z" />
              </svg>
            </div>
            <div class="col-sm-8">
              <form action="">
                <input type="text" class="form-control" placeholder="Write message...">
              </form>

            </div>
            <div class="col-sm-2 mt-1">
              <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-chevron-double-up" fill="currentColor"
                xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd"
                  d="M7.646 2.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1-.708.708L8 3.707 2.354 9.354a.5.5 0 1 1-.708-.708l6-6z" />
                <path fill-rule="evenodd"
                  d="M7.646 6.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1-.708.708L8 7.707l-5.646 5.647a.5.5 0 0 1-.708-.708l6-6z" />
              </svg>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Option 1: Bootstrap Bundle with Popper.js -->
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha2/js/bootstrap.bundle.min.js"
    integrity="sha384-BOsAfwzjNJHrJ8cZidOg56tcQWfp6y72vEJ8xQ9w6Quywb24iOsW913URv1IS4GD"
    crossorigin="anonymous"></script>


</body>

</html>