*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}
.nav-div{
    position: relative;
    height: 30vh;
}
.nav-inner-div{
    top:20px;
    position: absolute;
}
.main-div{
    top:100px;
    left: 150px;
    height: 85vh;
    width: 80%;
    z-index: 99;
    background-color: white;
    position: absolute;
}
.main-inner-div{
    height: 100%;
}
input{
    outline: none;
    border: none;
}
input:focus{
    outline: none;
}

.side_scroller{
    width: 30%;
    height: 77vh;
    background-color: white;
    overflow: scroll;
}
.chat-area{
    width: 70%;
    height: 77vh;
    overflow: scroll;   
}
::-webkit-scrollbar {
    width: 0px;
  }


.left-bar{
    width: 30%;
    background-color: rgba(240, 240, 240, 0.973);
    height: 8vh;
}

.right-bar{
    width: 70%;
    background-color: rgba(240, 240, 240, 0.973);
    height: 8vh;
}